<div class="top-header-area" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-sm-12 text-center">
				<div class="main-menu-wrap">
					<!-- logo -->
					<div class="site-logo">
						<a href="index.html">
							@*<img src="../LayoutAdmin/assets/images/logo.svg">*@
						</a>
					</div>
					<!-- logo -->
					<!-- menu start -->
					<nav class="main-menu">
						<ul>
							<li class="current-list-item">
								<a asp-action="Index" asp-controller="Home">Trang chủ</a>
								@*<ul class="sub-menu">
									<li><a asp-action="Index" asp-controller="Home"> Home</a></li>
								</ul>*@
							</li>
							
							
							<li>
							  <a asp-action="Shop" asp-controller="Home">Cửa hàng</a>
								@*<ul class="sub-menu">
									<li><a asp-action="Shop" asp-controller="Home">Shop</a></li>
								</ul>*@
							</li>
							<li style="justify-content:right;float:right;">
								<div class="header-icons">
									<a class="shopping-cart" asp-action="Cart" asp-controller="Cart" ><i class="fas fa-shopping-cart"></i></a>
									@*<a class="user-login-icon" asp-controller="Access" asp-action="Logout">Đăng xuất</a>*@

								</div>
							</li>
							<li style="bottom:-12px">
								<ul class="main-menu">
									<li>
										<img style=" width: 30px;height: 30px; border-radius: 50%;" src="../../LayoutAdmin/assets/images/faces/ronaldo.jpg" />
										<ul class="sub-menu">
											<li style="text-align:left"><a style="color: #555">Thông tin cá nhân</a></li>
											<li style="text-align:left"><a onclick="return window.confirm('bạn có muốn đăng xuất không?')" asp-controller="Access" asp-action="Logout" style="color: #555">Đăng xuất</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</nav>
					<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
					<div class="mobile-menu"></div>
					<!-- menu end -->
				</div>
			</div>
		</div>
	</div>
</div>
