<div class="footer-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="footer-box about-widget">
					<h2 class="widget-title">Chúng tôi</h2>
					<p></p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box get-in-touch">
					<h2 class="widget-title">Liên lạc</h2>
					<ul>
						<li>Phú thụ , Lại Thượng , Thạch Thất, Hà Nội</li>
						<li>thuan15902@gmail.com</li>
						<li>0353642294</li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box pages">
					<h2 class="widget-title">Trang</h2>
					<ul>
						<li><a asp-action="Index">Trang chủ</a></li>
						<li><a asp-action="Shop">Cửa hàng </a></li>
						<li><a asp-action="Cart">Giỏ hàng </a></li>
						
					</ul>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="footer-box subscribe">
					<h2 class="widget-title">Subscribe</h2>
					<p>Subscribe to our mailing list to get the latest updates.</p>
					<form action="index.html">
						<input type="email" placeholder="Email">
						<button type="submit"><i class="fas fa-paper-plane"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
